.MainCarousel {
  position: relative;
  height: 492px;
  // margin: 68px auto 0 auto;
  margin-top: 68px;
  overflow: hidden;

  .currentIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20%;
    right: 16%;
    width: 2rem;
    height: 1rem;
    font-weight: 200;
    border-radius: 25%;
    color: #fff;
    background-color: #838383;
  }
}
