.overView {
  width: 1140px;
  margin: auto;

  .overViewContainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 66px 0px 66px;
    margin-top: 102px;

    img {
      width: 380px;
      height: 380px;
    }

    .productInfoWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 400px;

      h2 {
        font-size: 20px;
        color: #58c3cc;
      }

      h3 {
        font-size: 32px;
        margin-top: 16px;
        color: #1c1c1c;
      }

      p {
        font-size: 20px;
        margin-top: 24px;
        color: #838383;
      }

      .productLike {
        display: flex;
        justify-content: space-between;

        .totalReview {
          display: flex;
          align-items: center;

          .star {
            margin: 0;
            margin-right: 10px;
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 5px;
            color: #58c3cc;
          }

          .number {
            margin: 0;
            margin-right: 5px;
            font-size: 16px;
            color: #58c3cc;
          }

          span {
            color: #838383;
          }
        }

        .price {
          font-weight: 900;
          font-size: 32px;
          color: #1c1c1c;
        }
      }

      .productBuy {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .productBuyButton {
          width: 100%;
          height: 56px;
          font-size: 18px;
          background-color: #1c1c1c;
          border: 1px solid #1c1c1c;
          border-radius: 10px;
          color: #fff;
        }
      }
    }
  }
}
