.ProductContent {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
  overflow-x: hidden;
  overflow-y: hidden;

  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  .content {
    margin-bottom: 150px;
    position: relative;

    .contentTitle {
      font-size: 38px;
      line-height: 50px;
    }

    .contentInfo {
      font-size: 20px;
      line-height: 30px;
      color: #838383;
    }

    .productList {
      display: flex;
      margin-top: 54px;
      transition: transform 0.5s;
    }
  }
}
