.carousel {
  position: relative;

  .img {
    transition: opacity 500ms ease 0s;
  }

  .active-true {
    opacity: 1;
    position: relative;
  }

  .active-false {
    position: absolute;
    opacity: 0;
  }

  .movePrev {
    transform: translateX(-100%);
  }

  .moveNext {
    transform: translateX(100%);
  }
}
