.itemContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 184px;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 0px 20px 0px;

  .imgCover {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .itemImg {
    width: 80%;
    height: 80%;
  }

  .itemBox {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 23px 0px 20px 0px;

    .itemInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .itemName {
        font-size: 18px;
      }

      .itemType {
        color: gray;
        padding-top: 10px;
        font-size: 15px;
      }

      .itemPrice {
        font-size: 16px;
      }
    }
  }

  .iconBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 72px;

    .closeImg {
      width: 11px;
    }

    .fa-xmark {
      margin-right: 5px;
    }

    .quantityBox {
      display: flex;
      align-items: center;
      height: 30px;
      border: 1px solid #cbcbcb;
      border-radius: 2px;

      .quantityNum {
        width: 27px;
        text-align: center;
        font-size: 13px;
      }

      .minusBtn {
        height: 100%;
        border-right: 1px solid #cbcbcb;

        .fa-minus {
          color: #b2b2b2;
        }
        img {
          width: 13px;
          opacity: 0.6;
        }
      }

      .plusBtn {
        height: 100%;
        border-left: 1px solid #cbcbcb;
        .fa-plus {
          color: #b2b2b2;
        }
        img {
          width: 13px;
        }
      }
    }
  }
}
