.quantityDownButton {
  width: 28px;
  height: 28px;
  border-right: 1px solid #cdcdcd;
}

.quantityCount {
  width: 28px;
  text-align: center;
}

.quantityUpButton {
  width: 28px;
  height: 28px;
  border-left: 1px solid #cdcdcd;
}
